@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #071D3A;
  --foreground: #F2F2F2;

  --bg-primary: #071D3A;
  --bg-secondary: #0E2F5A;
  --bg-overlay: #050B14;

  --text-primary: #F2F2F2;
  --text-secondary: #B8C2D1;

  --accent-primary: #FFC400;
  --accent-secondary: #6C63FF;

  --radius-lg: 20px;
  --shadow-soft: 0 10px 30px rgba(0,0,0,0.6);

  --font-heading: "Space Grotesk";
  --font-body: "Inter";
}
